In [56]:
!pip install apyori

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: apyori in c:\users\sit\appdata\roaming\python\python312\site-packages (1.1.2)

In [57]:
import numpy as np
import pandas as pd 
from apyori import apriori

In [60]:
stored_data=pd.read_csv("C:\\Users\\SIT\\Downloads\\Day1.csv",header=None)

In [62]:
stored_data.head()

      0      1      2       3     4      5
0  Wine  Chips  Bread  Butter  Milk  Apple
1  Wine    NaN  Bread  Butter  Milk    NaN
2   NaN    NaN  Bread  Butter  Milk    NaN
3   NaN  Chips    NaN     NaN   NaN  Apple
4  Wine  Chips  Bread  Butter  Milk  Apple

In [64]:
stored_data.shape

(22, 6)

In [66]:
records=[]
for i in range(stored_data.shape[0]):
    for j in range(stored_data.shape[1]):
        records.append([str(stored_data.iloc[i,j])])

In [76]:
records=[]
for i in range(0,22):
    records.append([str(stored_data.values[i,j]) for j in range(0,6)])

In [78]:
records

[['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'Chips', 'nan', 'nan', 'nan', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'nan', 'nan', 'Milk', 'nan'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'nan', 'Apple'],
 ['Wine', 'Chips', 'nan', 'nan', 'Milk', 'nan'],
 ['Wine', 'nan', 'Bread', 'nan', 'nan', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'Chips', 'Bread', 'Butter', 'nan', 'Apple'],
 ['Wine', 'nan', 'nan', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'nan'],
 ['Wine', 'nan', 'Bread', 'nan', 'Milk', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['nan', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['nan', 'Chips', 'nan', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'nan', 'Milk', 'Apple'],
 ['nan', 'Chips', 'nan', 'nan', 'nan', 'nan']]

In [80]:
association_rule=apriori(records,min_support=0.05,min_confidence=0.07,min_lift=1.2,min_length=2)
association_rule=list(association_rule)

In [84]:
print(association_rule[0])
print(len(association_rule))

RelationRecord(items=frozenset({'Bread', 'Chips', 'Apple'}), support=0.36363636363636365, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Apple'}), items_add=frozenset({'Chips', 'Bread'}), confidence=0.5333333333333334, lift=1.3037037037037038), OrderedStatistic(items_base=frozenset({'Chips', 'Bread'}), items_add=frozenset({'Apple'}), confidence=0.8888888888888888, lift=1.3037037037037038)])
29